<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index06</title>


</head>
<body>

<!--时间-->
<span th:text="${#dates.format(date,'yyyy年MM月dd日')}"></span><br>

<!--数字  参数二：保留整数位 0.12    .12     参数三：表示保留几位小数  并四舍五入-->
<span th:text="${#numbers.formatDecimal(number,1,1)}"></span><br>

<!--字符串-->

<span th:text="${str}"></span><br>

<span th:text="${#strings.isEmpty(str)}">123</span><br>

<span th:text="${#strings.substring(str,0,20)}"></span><br>

<span th:text="${#strings.abbreviate(str,30)}"></span>

</body>
</html>